body {
  background: radial-gradient(circle, #ffffff, #f6f0f0);
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  background-color: black;
  color: white;
  border-radius: 40px;
  padding: 30px 50px;
  max-width: 400px;
  width: 90%;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
}

h2 {
  text-align: center;
  color: #f4053f;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

label {
  font-weight: bold;
  color: #f4053f;
}

/* Semua input, select, dan tombol dibuat sama lebar */
input, select, button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  box-sizing: border-box;
}

/* Style tombol */
button {
  background-color: #f4053f;
  color: black;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #ff1744;
}
